<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-between list-header">
          <app-search-form (filter)="onFilter($event)" ></app-search-form>
            <div class="switcher-container">
                <label class="switcher">
                  <input type="checkbox"
                         (change)="onSwitcherChange($event)"
                         [checked]="!isStandartView()">
                  <span class="slider round">
                    <span class="slider-text">{{ viewName() }}</span>
                  </span>
                </label>
              </div>
        </div>
        <div class="bordered-list">
          @if(isStandartView()){
            <app-card-list [teachers]="teachers()"></app-card-list>
          }
          @else {
            <app-table-list [teachers]="teachers()"></app-table-list>
          }
        </div>
        <div class="d-flex justify-content-center mt-2">
          <app-pagination 
          [page]="page()"
          [count]="total()"
          [perPage]="perPage()"
          [pagesToShow] ="limit()"
          (goPage)="goToPage($event)"
          (goPrev) = "goToPrevious()"
          (goNext)="goToNext()"
          ></app-pagination>
        </div>
    </div>
</div>
