<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-between list-header">
          <div class="search-container">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">
                      <i class="bi bi-search"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
            <div class="form-group">
                <select id="subject" class="form-control" formControlName="subject">
                  <option value="">Select subject</option>
                    @for(subject of subjects(); track subject.subjectId){
                      <option [value]="subject.name">{{subject.name}}</option>
                    }
                </select>
            </div>
            <div class="form-group">
              <select id="year" class="form-control" formControlName="year">
                <option value="">Select year</option>
                @for(num of getRange(1, 12); track num) {
                  <option [value]="num">{{num}}</option>
                }
              </select>
          </div>
          </div>
            <div class="switcher-container">
                <label class="switcher">
                  <input type="checkbox" 
                         (change)="onSwitcherChange($event)" 
                         [checked]="!isStandartView()">
                  <span class="slider round">
                    <span class="slider-text">{{ viewName() }}</span>
                  </span>
                </label>
              </div>
        </div>
        <div class="bordered-list">
          @if(isStandartView()){
            <app-card-list [teachers]="teachers()"></app-card-list>
          }
          @else {
            <app-table-list [teachers]="teachers()"></app-table-list>
          }
        </div>
        <div class="d-flex justify-content-center mt-2">
          <app-pagination 
          [page]="page"
          [count]="total"
          [perPage]="limit"
          (goPage)="goToPage($event)"
          (goPrev) = "goToPrevious()"
          (goNext)="goToNext()"
          ></app-pagination>
        </div>
    </div>
</div>
