<div class="table-container">
    <table class="table table-hover table-light table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">Profile</th>
            <th scope="col">Full name</th>
            <th scope="col">Subjects and classes</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            @for (teacher of teachers(); track teacher.id) {
                <tr>
                    <td>
                        <div id="cardImgBox">
                            <img [src]="teacher.profileImgUrl || 'empty-profile.png'" class="profile-img mt-3 mb-3">
                        </div>
                    </td>
                    <td class="align-middle">
                        {{ teacher.fullName }}
                    </td>
                    <td>
                        <div class="subject-list">
                            <div class="subject subject-header">
                                <div class="subject-name">
                                    Subjects:
                                </div>
                                <div class="subject-class">
                                    Classes:
                                </div>
                            </div>
                            @for(subject of getUniqueSubjects(teacher); track subject.name){
                                <div class="subject">
                                    <div class="subject-name">
                                        {{ subject.name }}
                                    </div>
                                    <div class="subject-class">
                                        {{ getSubjectMinMaxYear(teacher, subject) }}
                                    </div>
                                </div>
                            }
                        </div>
                    </td>
                    <td class="align-middle">
                        <button class="btn btn-outline-success btn-bottom" routerLink="profile" [queryParams]="{userId: teacher.id}"> 
                            Sign up for classes 
                        </button>
                    </td>
                </tr>
            }
        </tbody>
      </table>
</div>