<div class="marks-box">
    <div class="marks-dashboard">
        <div class="col-9">
            <canvas baseChart class="col-12"
                [data]="lineChartData()"
                [options]="lineChartOptions"
                [type]="lineChartType">
            </canvas>
        </div>
        <div class="col-3">
            @if(selectedStudent()){
                <h5>{{selectedStudent()?.fullName}}</h5>
            }
            @else {
                <h5>Average marks</h5>
            }
            <h5>Date range:</h5>
            <div class="input-group mb-auto">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">
                        <i class="bi bi-calendar2-week"></i>
                    </span>
                </div>
                <select class="form-control" #dateSelect (change)="onSearch(dateSelect.value)">
                    <option [value]="1" >Last month</option>
                    <option [value]="6" >Last 6 months</option>
                    <option [value]="12" >Last year</option>
                </select>
            </div>
        </div>
    </div>
</div>
