.marks-box{
    padding: 2rem;
    height: 100%;
}
.marks-dashboard{
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.2);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}