<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" routerLink="">Our Teachers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/profile">User Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/schedule/student">Student Schedule</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/reports/maker">Report Maker</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/reports/teacher">Teacher Reports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/reports/student">Student Reports</a>
    </li>
</ul>
