#teachersDashboard{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 2rem;
}

.card-list{
    overflow-y: scroll;
    height: 78vh;
}

@media( max-width: 1440px){
    #teachersDashboard{
        grid-template-columns: repeat(3,1fr);
    }
}

@media( max-width: 1024px){
    #teachersDashboard{
        grid-template-columns: repeat(2,1fr);
    }
}
@media( max-width: 700px){
    #teachersDashboard{
        grid-template-columns: 1fr;
    }
}