<div class="card" id="profile">
    <app-profile-img [userId]="selectedUser()?.userId" [isOnOwnPage]="isOnOwnPage()"></app-profile-img>
    <div class="card-body text-center">
        <h5 clas="card-title">
            {{ selectedUser()?.fullName }}
        </h5>
        <p class="card-text">
            <app-profile-info [subjects]="selectedUser()?.subjects"></app-profile-info>
            @if(isOnOwnPage()){
                <button class="btn btn-success" (click)="onAddNewLesson()" *hasRole="'teacher'">Add new lesson</button>
            }
        </p>
    </div>
</div>

@if(isOnOwnPage()){
    <div *hasRole="'teacher'">
        <app-card-editing-popup
        [lesson]="null"
        [show]="isModalVisible()"
        [state]="modalState()"
        (close)="onModalClose()"
        (update)="onUpdate()"></app-card-editing-popup>
    </div>
}
