<div class="card" id="profile">
    <app-profile-img [userId]="selectedUser()?.userId" [isOnOwnPage]="isOnOwnPage()"></app-profile-img>
    <div class="card-body text-center">
        <h5 clas="card-title">
            {{ selectedUser()?.fullName }}
        </h5>
        <p class="card-text">
            <app-profile-info [subjects]="selectedUser()?.subjects"></app-profile-info>
            @if(isOnOwnPage()){
            <div class="d-flex flex-column">
                <button class="btn btn-success mb-3" (click)="onAddNewLesson()" *hasRole="'teacher'"><i class="bi bi-plus-lg"></i> Add new lesson</button>
                <button class="btn btn-warning" (click)="onDownloadSchedule()" *hasRole="'teacher'"><i class="bi bi-download"></i> Download schedule</button>
            </div>
            }
        </p>
    </div>
</div>

@if(isOnOwnPage()){
    <div *hasRole="'teacher'">
        <app-card-editing-popup
        [userId]="selectedUserId()"
        [lesson]="null"
        [show]="isModalVisible()"
        [state]="modalState()"
        (close)="onModalClose()"
        (update)="onUpdate()"></app-card-editing-popup>
    </div>
}
